*{
    font-family: Poppins, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ff0000;
}

.container{
    background-position: center;
    padding: 50px;
}

.container > *{
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.container > h1 {
    color: red;
    animation: colorChange 2s infinite;
}

.konten{
    width: auto;
    height: 100%;
    background-image: url('https://assets.goal.com/images/v3/bltb57083179125d400/Indonesia_16-9.jpg?auto=webp&format=pjpg&width=3840&quality=60');
    background-size: cover;
    border: 1px solid white;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 400px;
    margin-bottom: 100px;
}

footer {
    background-color: #8B0000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    height: 15vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.button-container button {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 22px;
    background: linear-gradient(to bottom, red, white);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}
.button-container button:hover {
    background: linear-gradient(to bottom, white, red);
}



/* Font Poppins */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

@media (max-width: 768px) {
    .konten {
        margin: 100px 50px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .konten {
        margin: 100px 100px;
    }
}

  @keyframes colorChange {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}
